@import url("https://fonts.googleapis.com/css?family=Luckiest+Guy");


#preload {
  display: none;
}
.running_man {
  width: 100%;
  height: 270px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin:0;
  margin-top:3%;
  background-color: white;
}

.running_man .textarea span {
  font-size: 24px;
  display: block;
  color: #1d1f20;
  opacity: 0;
  font-family: "Luckiest Guy", cursive;
  padding: 10px;
}

.running_man .textarea {
    text-align: center;
    width: 100%;
  }

.running_man .textarea span:nth-child(1) {
  transform: translateX(-100px);
  transition: all 400ms 400ms;
}
.running_man .textarea span:nth-child(1) a {
  color: #ef3a55;
}
.running_man .textarea span:nth-child(2) {
  z-index: 12;
  font-size: 20px;
  color: #1d1f20;
  transform: translateX(-100px);
  transition: all 400ms 600ms;
  position: relative;
}

.running_man .textarea span:nth-child(2) a {
  color: #ef3a55;
}
.running_man .textarea span:nth-child(3) {
  z-index: 12;
  font-size: 20px;
  color: #1d1f20;
  transform: translateX(-100px);
  transition: all 400ms 600ms;
  position: relative;
}
.running_man .textarea span:nth-child(3) a {
  color: #ef3a55;
}
.running_man .textarea span:nth-child(4) {
  z-index: 12;
  font-size: 20px;
  color: #1d1f20;
  transform: translateX(-100px);
  transition: all 400ms 600ms;
  position: relative;
}
.running_man .textarea span:nth-child(4) a {
  color: #ef3a55;
}
.running_man.active .textarea span {
  transform: translateX(0px);
  opacity: 0.95;
  background-color: whitesmoke;
}

.active{
    background-color: whitesmoke;
  }

.profile_pic {
    background-image: url(./IMG_20201223_104457.jpg);
    height: 300px;
    margin-left: 7%;
    margin-top: 3%;
    margin-bottom: 25px;
    background-color: white;
    border-radius: 60%;
  }

.content-body{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100vh;
    margin-top: 6%;
    margin-left: 15%;
    margin-right: 15%;
}
.content-intro{
    width: 30%;
    height: 100vh;
}
.content-about{
    width: 50%;
    height: 100vh;
    margin-top: 7%;
}
.content-about h3{
  font-size: 24px;
  color: #1d1f20;
  font-family: "Luckiest Guy", cursive;
}
.content-about h3 a{
  color: #019282;
}

@media only screen and (max-width: 900px) {
    .content-body{
        display: flex;
        flex-direction: column;
        
        height: 100vh;
        margin-top: 10%;
        width: 75%;
    }
    .content-intro span{
      font-size: 12px;
      margin-top: 5%;
    }
    .profile_pic{
      height: 200px;
      border-radius: 65%;
    }
    .content-intro{
        width: 100%;
        height: 100vh;
    }
    .content-about{
        width: 100%;
        height: 100vh;
    }
  }